<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>36C28AB5-6566-4C50-9EBD-CBB920F83843</key>
		<dict>
			<key>current-network</key>
			<data>
			AAAAAAAAAAAEAAUAEwAAAEV2ZXJ5RGF5SW1CdWZmZXJpbmcAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAOG4LhM927fyhOFO/Ec/OfmZHEvooT9fQIAp99oTkT57
			</data>
			<key>preferred-count</key>
			<integer>2</integer>
			<key>preferred-networks</key>
			<data>
			AAAAAAAAAAAEAAUAEwAAAEV2ZXJ5RGF5SW1CdWZmZXJpbmcAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAOG4LhM927fyhOFO/Ec/OfmZHEvooT9fQIAp99oTkT57AAAA
			AAAAAAAEAAUACAAAAEhNQi1CWU9EAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAA
			ABrNDDQGcyvz/kzzI4soq4t3y11wSXQlhn1+TD7lEHS0
			</data>
		</dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>ForceDisplayRotationInEFI</key>
			<data>
			AAAAAA==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Rg==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			4g==
			</data>
			<key>boot-args</key>
			<string>-v keepsyms=1 -no_compat_check</string>
			<key>csr-active-config</key>
			<data>
			5wMAAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			QnJ5YW7igJlzIE1hY0Jvb2sgUHJv
			</data>
			<key>prev-lang:kbd</key>
			<data>
			ZW46MA==
			</data>
			<key>run-efi-updater</key>
			<data>
			Tm8A
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
			<key>Boot0080</key>
			<data>
			AQAAAAgBTQBhAGMAIABPAFMAIABYAAAAAgEMANBBAwoAAAAAAQEG
			AAIfAxIKAAAAAAAAAAQBKgACAAAAAEgGAAAAAAAYqfoQAAAAAICu
			g4IOcWlGqAeux6NNQRwCAgQDJAD3/HS+fAvzSZFHAfQELmhCoH98
			xePJfUWz4DxZx1iFcgQEmgBcADIARQBBAEUANAA1AEMAOAAtADcA
			RQA0AEYALQA0ADIANQA3AC0AQgA4AEEANAAtADIAOQBGAEEAOABF
			ADYAMgBFADgANwA2AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEA
			cgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0
			AC4AZQBmAGkAAAB//wQA
			</data>
			<key>BootOrder</key>
			<data>
			gAABAA==
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
